@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  height: 100%;
  font-family: 'poppins';
  background-color: #062532;
}

p {
  text-align: center;
  font-size: 2rem;
  color: white;
  letter-spacing: 2px;
}
