@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Poppins:wght@400;500;600;700&display=swap');

/* CSS Variables */
:root {
  /* Font Family */
  --font-family-body: 'Poppins', sans-serif;
  --font-family-heading: 'Francois One', sans-serif;

  /* Font Size */
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1rem;
  --font-size-normal: 0.75rem;
  --font-size-small: 0.625rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Colors */
  --blue-dark: #083244;
  --blue-extra-dark: #062532;
  --blue-light: #0d5472;
  --white-dark: #cccca4;
  --white-light: #f0f0e5;

  /* z-index */
  --z-btn: 5;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* Heights and Widths */
  --header-height: 5rem;
  --container-width: 968px;

  /* Units */
  --cubic-bezier: cubic-bezier(0.66, -0.01, 0.55, 0.99);
}

/* Resets and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--blue-extra-dark);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 178, 166, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #083244;
}

body,
button,
input,
textarea {
  font-family: var(--font-family-body);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  letter-spacing: 1px;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-semi-bold);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* #region ---------- Reusable CSS Classes */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.section {
  overflow: hidden;
}

.section__container {
  transition: all 700ms var(--cubic-bezier);
  transition-property: opacity, transform;
}

.section__title {
  font-family: var(--font-family-heading);
  color: rgba(255, 178, 166, 0.8);
  letter-spacing: 5px;
  font-size: var(--font-size-h2);
  transition: color 200ms var(--cubic-bezier);
}

.section__gif {
  display: none;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 10rem;
  font-size: var(--font-size-normal);
  letter-spacing: 2px;
}

.section__gif.show {
  display: inline;
  opacity: 1;
  z-index: var(--z-btn);
}

.button {
  position: relative;
  margin: 0 auto;
  letter-spacing: 1px;
  height: 2rem;
  width: 11rem;
}

.button__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(204, 204, 164, 0.3) 0%,
    rgba(204, 204, 164, 0.08) 100%
  );
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: var(--white-light);
  z-index: var(--z-btn);
  overflow: hidden;
  backdrop-filter: blur(15px);
  transition: color 100ms ease-in;
}

.button__link:hover {
  color: var(--white-dark);
}

.button__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: -15%;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  transform: skewX(45deg) translateX(0%);
  transition: transform 200ms var(--cubic-bezier);
}

.button__link:hover::before {
  transform: translateX(200%);
}

.button::before {
  position: absolute;
  top: 50%;
  right: 50%;
  content: '';
  height: 1px;
  background-color: var(--white-light);
  width: 50vw;
}

.button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  height: 1px;
  background-color: var(--white-light);
  width: 50vw;
}

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.social-links {
  display: flex;
  gap: 2rem;
}

.social-link {
  color: var(--white-light);
  font-size: 1.2rem;
  transition: transform 200ms var(--cubic-bezier);
}

.social-link:hover {
  transform: scale(1.3);
}
/* #endregion */

/** ---------- Nav Element ----------*/

.nav {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(204, 204, 164, 0.3) 0%,
    rgba(204, 204, 164, 0.08) 100%
  );
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  z-index: var(--z-fixed);
  animation: nav 700ms var(--cubic-bezier);
  overflow: hidden;
}

@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: -15%;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 230, 0, 0.1),
    transparent
  );
  transform: skewX(45deg) translateX(-100%);
  animation: nav-shine 2.5s var(--cubic-bezier) infinite;
  animation-delay: 2s;
}

@keyframes nav-shine {
  30%,
  100% {
    transform: translateX(250%);
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav__link {
  color: var(--white-light);
  padding: 0.2rem 0.4rem;
  height: 1rem;
  width: 1rem;
}

.nav__link.active {
  color: #333;
  background-color: rgba(255, 178, 166, 0.8);
  border-radius: 10px;
}

/* #region ---------- Header */
#header {
  background-color: var(--blue-dark);
  padding-top: 4rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: header 700ms var(--cubic-bezier);
}

@keyframes header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__logo {
  color: var(--white-light);
  letter-spacing: 2px;
  transition: color, transform 200ms var(--cubic-bezier);
}

.header__logo:hover {
  color: var(--white-dark);
  transform: scale(1.1);
}
/* #endregion */

/* #region ---------- Home Section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--blue-dark);
  height: 28rem;
  overflow-x: hidden;
}

.home__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-dark);
  overflow: hidden;
  opacity: 0;
  animation: homebox 700ms var(--cubic-bezier);
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

@keyframes homebox {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 12rem;
    opacity: 1;
  }
}

.home__box::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20rem;
  content: 'HI!';
  transform: scale(0.3);
  font-family: var(--font-family-heading);
  color: var(--blue-dark);
  animation: homebox-before 700ms var(--cubic-bezier);
  animation-delay: 1400ms;
  animation-fill-mode: forwards;
}

@keyframes homebox-before {
  from {
    opacity: 1;
    transform: scale(0.3);
  }
  to {
    opacity: 0.1;
    transform: scale(1.2);
  }
}

.home__title {
  color: var(--blue-dark);
  font-weight: var(--font-weight-medium);
  font-size: 0.725rem;
  opacity: 0;
  animation: home-title 500ms var(--cubic-bezier);
  animation-delay: 1600ms;
  animation-fill-mode: forwards;
}

@keyframes home-title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home__name {
  font-size: 1.725rem;
  color: #062532;
  font-weight: var(--font-weight-semi-bold);
  font-family: var(--font-family-heading);
  letter-spacing: 3px;
}

.home__subtitle {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
}

.home__button {
  animation: homebtn 700ms var(--cubic-bezier);
}

@keyframes homebtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.home__button::before,
.home__button::after {
  opacity: 0;
  animation: homebtn-line 400ms var(--cubic-bezier);
  animation-delay: 1900ms;
  animation-fill-mode: forwards;
}

@keyframes homebtn-line {
  from {
    width: 0;
  }
  to {
    opacity: 1;
    width: 50vw;
  }
}
/* #endregion  */

/* #region ---------- About Section */
#about {
  position: relative;
  background-color: var(--blue-extra-dark);
  padding: 8rem 0;
}

.about__layer-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__desc {
  color: var(--white-dark);
  padding: 0 12px;
  line-height: 1.6;
}

.about__p {
  max-width: 620px;
}

.about__p-first {
  margin-bottom: 1rem;
  padding-top: 2.5rem;
}

.about__qualities {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.about__quality {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1rem;
  background-color: rgba(255, 180, 168, 0.8);
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
  color: var(--blue-extra-dark);
  width: 6rem;
  border-radius: 10px;
  overflow: hidden;
}

.about__quality:hover > .bxs-brain {
  color: #fc4f4f;
}

.about__quality:hover > .bxs-book-alt {
  color: #b5fe83;
}

.about__quality:hover > .bxs-bulb {
  color: #ffe61b;
}

.about__quality-icon {
  font-size: var(--font-size-h3);
}

.about__quality-text {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  text-align: center;
}

.about__tech {
  max-width: 644px;
  padding: 0 12px;
}

.about__tech-info {
  color: var(--white-dark);
  line-height: 1.6;
  padding-bottom: 2rem;
}

.about__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about__card {
  height: 120px;
  width: 160px;
  background-color: rgba(255, 180, 168, 0.8);
  color: var(--blue-extra-dark);
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.about__card-title {
  padding: 1rem 0;
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 0.725rem;
  font-weight: var(--font-weight-bold);
}

.about__card-desc {
  padding: 0 1rem;
  color: var(--blue-extra-dark);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  text-align: center;
}

.about__layer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  transform: rotate(180deg);
}
/* #endregion */

/** Works Section */
#works {
  position: relative;
  background-color: var(--blue-dark);
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.works__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.works__card {
  height: 350px;
  width: 280px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(204, 204, 164, 0.3) 0%,
    rgba(204, 204, 164, 0.08) 100%
  );
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  color: var(--white-light);
  overflow: hidden;
  backdrop-filter: blur(15px);
}

.works__card-img {
  transform: translateX(-6px);
}

.works__card-title {
  font-size: var(--font-size-h3);
  letter-spacing: 2px;
  padding-bottom: 0.5rem;
}

.works__card-desc {
  color: var(--white-dark);
  padding-bottom: 1rem;
}

.works__card-second-title {
  padding-bottom: 0.2rem;
  letter-spacing: 2px;
}

.works__card-links {
  display: flex;
  justify-content: space-between;
}

.works__card-link {
  background-color: var(--blue-extra-dark);
  color: var(--white-light);
  text-decoration: underline;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: transform 150ms var(--cubic-bezier);
}

.works__card-link:hover {
  transform: scale(1.2);
}

/** ---------- Contact Section ---------- */
#contact {
  background-color: var(--blue-dark);
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__label {
  font-weight: var(--font-weight-medium);
  letter-spacing: 2px;
  transform: translateX(5px);
}

.contact__elements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__element {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: var(--white-dark);
}

.contact__input {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 5px 10px;
  background-color: var(--white-dark);
  color: var(--blue-dark);
  font-weight: var(--font-weight-medium);
}

.contact_input-textarea {
  resize: none;
}

.contact__button-link {
  border: none;
  background: rgba(255, 255, 255, 0);
  color: var(--white-light);
  z-index: var(--z-btn);
}

.contact__form > .contact__button::before,
.contact__form > .contact__button::after {
  width: 0;
}

.contact__button-show-line > .contact__button::before,
.contact__button-show-line > .contact__button::after {
  animation: show-line 500ms var(--cubic-bezier);
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}

@keyframes show-line {
  from {
    opacity: 0;
    width: 0vw;
  }
  to {
    opacity: 1;
    width: 50vw;
  }
}

.button__link:hover > .contact__button-link {
  color: var(--white-dark);
}

.contact__social-links {
  position: absolute;
  bottom: 50%;
  left: 13.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.7rem;
  opacity: 0;
}

.contact__social-link {
  color: var(--white-light);
  font-size: 1.5rem;
}

.contact__social-link:hover {
  color: var(--white-dark);
  transform: translateY(-2px);
}

.contact__social-line {
  height: 0;
  width: 4px;
  border-radius: 10px 10px 0 0;
  background-color: var(--white-light);
}

.contact__show-socials {
  animation: social 200ms var(--cubic-bezier);
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

@keyframes social {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact__show-social-line {
  animation: social-line 500ms var(--cubic-bezier);
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes social-line {
  from {
    height: 0;
  }
  to {
    height: 5rem;
  }
}

.section__contact-container {
  transition: all 700ms var(--cubic-bezier);
  transition-property: opacity, transform;
}

/** ---------- Footer ---------- */
.footer {
  background-color: var(--blue-extra-dark);
  height: 6.5rem;
  display: flex;
  justify-content: center;
  padding: 0 0 3rem 0;
}

.footer__title {
  color: var(--white-dark);
  font-size: 0.725rem;
  font-weight: var(--font-weight-regular);
  padding-top: 1rem;
  letter-spacing: 1px;
}

/* #region ---------- Cursor */
.cursor {
  height: 16px;
  width: 16px;
  border: 3px solid #f1f1e6;
  border-radius: 10%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms var(--cubic-bezier);
  transition-property: transform, background;
  border-radius: 50%;
  mix-blend-mode: difference;
  z-index: 999;
}

.cursor.hover {
  transform: scale(3);
  background: #f1f1e6;
}

.cursor.hover-animate-click {
  animation: cursor-hover 150ms var(--cubic-bezier);
}

@keyframes cursor-hover {
  to {
    transform: scale(2);
    background: #f1f1e6;
  }
}

@media screen and (min-width: 1200px) {
  .cursor {
    display: block;
  }

  body,
  button,
  input,
  textarea,
  label,
  a {
    cursor: none;
  }

  .section__title:hover {
    color: var(--white-light);
  }
}
/* #endregion  */

/* #region ---------- Media */
@media screen and (min-width: 468px) {
  /* #region Home Section */
  .home__title {
    font-size: 0.825rem;
  }

  .home__name {
    font-size: 2.725rem;
  }

  .home__subtitle {
    font-size: 1.125rem;
    letter-spacing: 3px;
  }
  /* #endregion */

  /* .skills__cards {
    grid-template-columns: 1fr 1fr;
  }

  .skills__card-last {
    grid-column: 1 / span 2;
    justify-self: center;
  } */

  .contact__input {
    width: 16rem;
  }

  .contact__social-links {
    left: 16rem;
  }

  .works__card {
    width: 300px;
  }
}

@media screen and (min-width: 668px) {
  .home__box::before {
    content: 'HELLO!';
  }
}

@media screen and (min-width: 768px) {
  .about__layer-top {
    height: 10%;
  }

  .about__layer-bottom {
    height: 10%;
  }

  .nav__list {
    gap: 2rem;
  }

  .nav__link {
    font-size: 1rem;
  }
}
/* #endregion */
